.main-content__customers {
    max-width: 1600px;
    padding-top: 80px;
    padding-bottom: 86px;
    margin: 0 auto;
    background-image: url("../img/2-layers2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    background-attachment: fixed;
}

@media(min-resolution:1.5dppx),
(min-resolution:144dpi) {
    .main-content__customers {
        background-image: url("../img/2-layers2@2x.jpg");

    }
}

.customers__list {
    max-width: 940px;
    margin: 0 auto;
}

.customers__link {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.customers__item {
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}
