.main-content__customers {
    max-width: 1600px;
    padding-top: 80px;
    margin: 0 auto;
    background-color: #212121;
}

.customers__list {
    max-width: 940px;
    margin: 0 auto;
}

.customers__link {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.customers__item {
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}
