.main-page__main-header {
	max-width: 1600px;
	min-height: 800px;
	margin: 0 auto;

	color: white;

	background-image: url("../img/header-bg.jpg");
	background-position: left center;
	background-size: 1600px 800px;
	background-repeat: no-repeat;
}
